@model WebApplication1.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Usuwanie użytkownika</h1>

<p class="lead"> Czy na pewno chcesz usunąć użytkownika?</p>
<div>
    <h4>Potwierdzenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Nazwisko
        </dt>
        <dd>
            @Model.Surname
        </dd>
        <dt>
            Płeć
        </dt>
        <dd>
            @Model.Gender
        </dd>
        <dt>
            Data urodzenia
        </dt>
        <dd>
            @Model.BirthDate.ToShortDateString()
        </dd>
        <dt>
            Numer telefonu
        </dt>
        <dd>
            @Model.TelephoneNumber
        </dd>
        <dt>
            Stanowisko
        </dt>
        <dd>
            @Model.Position
        </dd>
        <dt>
            Numer buta
        </dt>
        <dd>
            @Model.ShoeSize
        </dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Cofnij</a>
    </form>
</div>
