@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Notatnik użytkowników";
}

<div class="text-center">
    <h1 class="display-4">Notatnik użytkowników</h1>
    <p>Kliknij Edytuj, aby wyświetlić lub edytować dane użytkownika.</p>
    <a asp-action="Create" class="btn btn-primary">Dodaj użytkownika</a>
</div>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Płeć
                </th>
                <th>
                    Data urodzenia
                </th>
                <th>
                    Numer telefonu
                </th>
                <th>
                    Stanowisko
                </th>
                <th>
                    Numer buta
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Name
                    </td>
                    <td>
                        @user.Surname
                    </td>
                    <td>
                        @user.Gender
                    </td>
                    <td>
                        @user.BirthDate.ToShortDateString()
                    </td>
                    <td>
                        @user.TelephoneNumber
                    </td>
                    <td>
                        @user.Position
                    </td>
                    <td>
                        @user.ShoeSize
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger" data-confirm="Czy na pewno chcesz usunąć tego użytkownika?">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak danych użytkowników.</p>
}